[tool.poetry]
name = "sagemcom_api"
version = "1.0.5"
description = "Python client to interact with SagemCom F@st routers via internal API's."
authors = ["Mick Vleeshouwer <mick@imick.nl>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iMicknl/python-sagemcom-api"
repository = "https://github.com/iMicknl/python-sagemcom-api"
keywords = ["sagemcom", "f@st"]

packages = [
    { include = "sagemcom_api" }
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/iMicknl/python-sagemcom-api/issues"

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
aiohttp = "^3.7.3"
pyhumps = "^1.6.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pre-commit = "^2.12.1"
black = "^21.4b2"
pylint = "^2.8.2"
isort = "^5.8.0"
mypy = "^0.812"
flake8 = "^3.9.1"
pyupgrade = "^2.14.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
# https://github.com/PyCQA/isort/wiki/isort-Settings
profile = "black"
force_sort_within_sections = true
combine_as_imports = true
